@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');


:root
{
    --app-black: #050505;
    --app-black-grey: #1F1F1F;
    --app-very-dark-grey: #2D2D2D;
    --app-dark-grey: #3A3A3A;
    --app-grey:#757575;
    --app-light-grey: #E9E9E9;
    --app-very-light-grey:  #F4F4F4;
    --app-white: #FFF;
    --app-purple: #A445ED;
    --app-red: #FF5252;

    --app-heading-lg: 64px;
    --app-heading-lg-line: 77px;
    --app-heading-md: 24px;
    --app-heading-md-line: 29px;
    --app-heading-sm: 20px;
    --app-heading-sm-line: 24px;
    --app-p-md: 18px;
    --app-p-md-line: 24px;
    --app-p-sm: 14px;
    --app-p-sm-line: 17px;

}
.black{
  color: var(--app-white);
}

.white{
  color: var(--app-very-dark-grey);
}

#container {
  text-align: center;
  font-family: "Inconsolata";
  display: flex;
  flex-flow: column nowrap;
  width: 740px;
  padding: 0px 2px;
  margin: auto;
  font-weight: 400;
  font-style: normal;
}

@media all and (max-width: 860px){
  #container{
    width: 100%;
    padding: 0rem 2.5rem;
  }
}

@media all and (max-width: 460px){
  #container{
    padding: 0rem 1.5rem;
  }
}


